<!--Partial for form allowing user to leave new `Comment` on a `Post`-->
<h3 class="leave-comment">Leave a Comment</h3>

<%= form_for [ @post, @comment ] do |f| %>
  <div class="form-group">
    <p>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <p>
      <%= f.submit 'Leave Comment', class: "btn btn-default submit-btn" %>
    </p>
<% end %>