
<h3>Leave a Comment:</h3>

<%= form_for [ @post, @comment ] do |f| %>
  <div class="form-group">
    <p>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <p>
      <%= f.submit 'Leave Comment', class: "btn btn-default" %>
    </p>
<% end %>